<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="http://mybox-104514.use1-2.nitrousbox.com/profile/connor">
        <img src="https://pbs.twimg.com/profile_images/425169776160153600/mj1xF4y4.png" alt="">
      </a>
    <div class="col-md-4">
      <a href="http://mybox-104514.use1-2.nitrousbox.com/profile/priya">
        <img src="http://groups.northwestern.edu/dj/team/uploads/Kumar_Priya.jpg" alt="">
      </a>
      <div class="col-md-4">
      <a href="http://mybox-104514.use1-2.nitrousbox.com/profile/liz">
        <img src="http://nuprojectcookie.com/images/headshots/LIZF.jpg" alt="">
      </a>
    </div>
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
<ol class="breadcrumb">
  <li><a href="home">Home</a></li>
  <li><a href="all">Student Profiles</a></li>
</ol>