<!DOCTYPE html>
<title>User Profile</title>

<body><H1>NU Connection</h1></body>
  
  <style>
h1 { color: purple;
}
</style>
  
  
<h3>User: Priya Kumar</h3>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <a href="http://google.com">
        <img src="http://groups.northwestern.edu/dj/team/uploads/Kumar_Priya.jpg" alt="">
      </a>
    </div>
    <br>

<style> h2 {
  color: black
}
</style>

<style> ul {



  
}
</style>

<style> li {
  color: gray;


  
}
</style>


<h3>Personal details</h3>
<ul>
  <li>I'm a sophomore studying Economics at Northwestern</li>
    <li>I love wine</li>
  <li>I'm from the Washington, DC area</li>
</ul>
<center>

  </div>
</div>
  
  <ol class="breadcrumb">
  <li><a href="home">Home</a></li>
  <li><a href="all">Student Profiles</a></li>
  <li class="active">Priya Kumar</li>
</ol>
