<!DOCTYPE html>
<title>User Profile</title>

<body><H1>NU Connection</h1></body>
  
  <style>
h1 { color: purple;
}
</style>
  
  
<h3>User: Liz Huizenga</h3>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <a href="http://northwestern.edu">
        <img src="http://nuprojectcookie.com/images/headshots/LIZF.jpg" alt="">
      </a>
    </div>
    <br>

<style> h2 {
  color: black
}
</style>

<style> ul {



  
}
</style>

<style> li {
  color: gray;


  
}
</style>


<h3>Personal details</h3>
<ul>
  <li>I'm a freshman studying MMSS at Northwestern</li>
  <li>I love my boyfriend</li>
  <li>I'm from Ohio</li>
</ul>
<center>

  </div>
</div>

  
  <ol class="breadcrumb">
  <li><a href="home">Home</a></li>
  <li><a href="all">Student Profiles</a></li>
  <li class="active">Liz Huizenga</li>
</ol>